layout {
    default_tab_template {
        // pane size=1 borderless=true {
        //     plugin location="tab-bar"
        // }
        // children
        // pane size=1 borderless=true {
        //     plugin location="status-bar"
        // }
        pane size=1 borderless=true {
            plugin location="compact-bar"
        }
        children
    }
    tab name="Editor" {
        pane stacked=true {
            pane name="hx" expanded=true command="hx" {
                args "."
            }
            pane name="zsh"
            pane name="zsh"
            pane name="zsh"
        }
    }
    tab name="Tools" {
        pane stacked=true {
            pane name="lazygit" command="lazygit"
            pane name="yazi" command="yazi"
        }
    }
}
